<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head" />
<body>
<header th:replace="layout :: header" />
<nav th:replace="layout :: navigation" />
<h2>My account</h2>
<h3>Connected accounts</h3>
<ul>
    <li>Twitch: <a href="https://www.twitch.tv/username">username</a></li>
    <li>Discord: <a href="https://discord.com/users/11111111111">username#1111</a></li>
    <li>racetime.gg: <a href="https://racetime.gg/user/ASDFghjkL">username#1234</a></li>
</ul>
</body>
</html>