<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head" />
<body>
<header th:replace="layout :: header" />
<nav th:replace="layout :: navigation" />
<h2>Scrubs Tournament: Season 4</h2>
<p>Sign up!</p><!-- TODO: Sign up link -->
<p>Description for tournament here</p>
<h3>Round schedule</h3>
<ul>
    <li>Qualifiers: July 10th until August 8th</li>
    <li>Brackets reveal: August 27th</li>
    <li>First round: August 28th until September 11th</li>
    <li>... etc</li>
</ul>
<h3>Scheduled matches</h3>
<ul>
    <li>
        September 3rd, 18:00: Group Minuet WB R1 - TobiasG vs PrimalKiwi
    </li>
    <li>
        September 4th, 19:00: Group Serenade WB R1 - Melons vs top_diesel -
        Restreamed at <a href="https://www.twitch.tv/scrubscentral">ScrubsCentral</a>
    </li>
</ul>
</body>
</html>